PORT=3000

DISCORD_BOT_TOKEN=
DISCORD_AI_CHANNEL_ID=

OPENROUTER_API_KEY=
OPENROUTER_MODEL=

AI_CONTEXT_MAX_CHARACTERS=12000

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/abu_ai?schema=public
